@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>
        A smart concert booking assistant that helps bands and tour managers find the best cities to play using historical concert data and artist popularity.
    </p>
</div>
