@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Where2Play</h1>
    <p>A smart concert booking assistant that helps bands and tour managers find the best cities to play using historical concert data and artist popularity.</a>.</p>
</div>
