
html {
    font-size: 16px;
}
main {
    margin-top: 140px;
}

body {
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images/homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white; 
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
}


p, li, span, label {
    color: #e6e6e6;
}


.navbar-brand,
.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #26A6A6 !important; 
}


.bi {
    color: white;
}


.btn-primary {
    background-color: #26A6A6;
    border-color: #26A6A6;
    color: white;
}

.btn-primary:hover {
    background-color: #1E2D59;
    border-color: #1E2D59;
}

#recommend-btn {
    color: #D99E32;
    border-color: #D99E32;
    background-color: transparent;
}

#recommend-btn:hover {
    background-color: #D99E32;
    color: white;
}

.img-fluid {
    max-width: 80%;
    max-height: 500px;
}

